body{
    align-items: center;
}

.row{
    display: flex;
}

#display{
    margin:2px;
    width:262px;
    height: 70px;
    border:2px solid black;
}

button{
    padding: 30px;
    height:40px;
    width:50px;
    margin:2px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: large;
}

button:hover{
    background-color: grey;
}